In [15]:
import pandas as pd
import numpy as np
import random
import datetime
import boto3
import botocore
import psycopg2
import configparser

### Nombre de la instancia

In [16]:
rdsIdentifier = 'dpir'

### Cargar archivo de config.

In [17]:
config = configparser.ConfigParser()
config.read('config.cfg')

['config.cfg']

### Crear instancia

In [18]:
aws_data = boto3.client('rds', aws_access_key_id=config.get('IAM', 'ACCESS_KEY'),
                     aws_secret_access_key=config.get('IAM', 'SECRET_ACCESS_KEY'),
                     region_name='us-east-1')

### Instancias disponibles

In [19]:
rdsInstanceIds = []

response = aws_data.describe_db_instances()
for resp in response['DBInstances']:
    rdsInstanceIds.append(resp['DBInstanceIdentifier'])
    db_instance_status = resp['DBInstanceStatus']

print(f"DBInstanceIds {rdsInstanceIds}")

DBInstanceIds ['dpir']

### Creacion de servicio RDS

In [20]:
try:
    response = aws_data.create_db_instance(
            AllocatedStorage=10,
            DBName=config.get('RDS', 'DB_NAME'),
            DBInstanceIdentifier=rdsIdentifier,
            DBInstanceClass="db.t3.micro",
            Engine="postgres",
            MasterUsername=config.get('RDS', 'DB_USER'),
            MasterUserPassword=config.get('RDS', 'DB_PASSWORD'),
            Port=int(config.get('RDS', 'DB_PORT')),
            VpcSecurityGroupIds=["sg-02abf94b67ee35a24"],
            PubliclyAccessible=True
        )
    print (response)
except aws_data.exceptions.DBInstanceAlreadyExistsFault as ex:
    print("La Instancia de Base de Datos ya Existe.")

La Instancia de Base de Datos ya Existe.

### Obteniendo URL del host

In [21]:
try:
     instances = aws_data.describe_db_instances(DBInstanceIdentifier=rdsIdentifier)
     RDS_HOST = instances.get('DBInstances')[0].get('Endpoint').get('Address')
     print(RDS_HOST)
except Exception as ex:
     print("La instancia de base de datos no existe o aun no se ha terminado de crear.")
     print(ex)

dpir.cfbnwxvpqafk.us-east-1.rds.amazonaws.com

In [22]:
postgres_driver = f"""postgresql://{config.get('RDS', 'DB_USER')}:{config.get('RDS', 'DB_PASSWORD')}@{RDS_HOST}:{config.get('RDS', 'DB_PORT')}/{config.get('RDS', 'DB_NAME')}"""

In [23]:
postgres_driver

'postgresql://a_dpir:QaO0kD9pGC53@dpir.cfbnwxvpqafk.us-east-1.rds.amazonaws.com:5432/dpir'

### Lectura fact_precio

In [82]:
sql_query = 'select * from fact_precio fp'
df_precios = pd.read_sql(sql_query, postgres_driver)
df_precios.head(5)

,Precio_ID,Producto_FK,Proveedor_FK,Fuente_FK,Medida_FK,Date_key,Divisa_FK,Precio,Marca,Pais,NOG,Responsable,Observaciones,timestamp
0,1,128,399,3,1,42152,8,350.00,None,None,24538745.0,None,None,2023-04-09 11:39:05
1,2,5,382,3,1,42375,8,9.10,ATRAMAT,None,4958969.0,None,None,2023-04-09 11:39:05
2,3,5,384,3,1,42375,8,6.00,B BRAUN,None,4958969.0,None,None,2023-04-09 11:39:05
3,4,5,413,3,1,42375,8,3.80,VITAL SUTURES,None,4958969.0,None,None,2023-04-09 11:39:05
4,5,5,391,3,1,42375,8,10.11,TAGUM,None,4958969.0,None,None,2023-04-09 11:39:05

In [83]:
df_precios=df_precios.iloc[:,0:8]
df_precios

,Precio_ID,Producto_FK,Proveedor_FK,Fuente_FK,Medida_FK,Date_key,Divisa_FK,Precio
0,1,128,399,3,1,42152,8,350.00
1,2,5,382,3,1,42375,8,9.10
2,3,5,384,3,1,42375,8,6.00
3,4,5,413,3,1,42375,8,3.80
4,5,5,391,3,1,42375,8,10.11
...,...,...,...,...,...,...,...,...
1934,1935,127,465,5,1,44995,10,12.31
1935,1936,127,466,5,1,44995,10,12.79
1936,1937,129,467,5,1,44995,10,12.31
1937,1938,148,468,5,1,44995,9,2.81
1938,1939,148,469,5,1,44995,9,53.96

In [39]:
sql_query = 'select * from "dim_divisas" '
df_divisa = pd.read_sql(sql_query, postgres_driver)
df_divisa

   Divisa_FK                Divisa Abreviatura Simbolo        timestamp
0          8  Quetzal Guatemalteco         GTQ       Q  5/04/2023 17:44
1          9  Dolar Estadounidense         USD       $  5/04/2023 17:44
2         10                  Euro         EUR     â¬  5/04/2023 17:44
3         11         Peso Mexicano         MXN       $  5/04/2023 17:44
4         12         Peso Filipino         PHP     â±  5/04/2023 17:44
5         13           Rupia India         INR     â¹  5/04/2023 17:44
6         14               Bolivar         VED      Bs  5/04/2023 17:44
7         15        Peso Argentino         ARP      $a  5/04/2023 17:44

### Cargando Bucket de S3: 'Tipo de Cambio'

In [40]:
s3 = boto3.resource(
    service_name = 's3',
    region_name = 'us-east-1',
    aws_access_key_id = config.get('IAM', 'ACCESS_KEY'),
    aws_secret_access_key = config.get('IAM', 'SECRET_ACCESS_KEY')
)

In [41]:
for bucket in s3.buckets.all():
    S3_BUCKET_NAME = bucket.name
    print(bucket.name)

dpir2023

In [42]:
S3_BUCKET_NAME='dpir2023'

In [44]:
import io
remoteFileList = []
for objt in s3.Bucket(S3_BUCKET_NAME).objects.all():
    remoteFileList.append(objt.key)

remoteFileList

['divisas/', 'divisas/Tipocambio.csv', 'ipc/', 'ipc/IPC.csv']

In [45]:
file = s3.Bucket(S3_BUCKET_NAME).Object('divisas/Tipocambio.csv').get()
data=io.BytesIO(file['Body'].read())
df_TdC=pd.read_csv(data,sep=';',encoding='latin1')
df_TdC

                 Divisa  Tipo de cambio
0  Quetzal Guatemalteco          1.0000
1  Dolar Estadounidense          7.7964
2                  Euro          8.5030
3         Peso Mexicano          0.4315
4         Peso Filipino          0.1400
5           Rupia India          0.0948
6               Bolivar          0.3191
7        Peso Argentino          0.0371

### Join Tipo de cambio y divisa

In [50]:
df_divisa_TDC=df_divisa.merge(df_TdC,how='inner',on='Divisa')
df_divisa_TDC.drop(['Divisa','Abreviatura','Simbolo','timestamp'], axis=1,  inplace=True)
df_divisa_TDC

   Divisa_FK  Tipo de cambio
0          8          1.0000
1          9          7.7964
2         10          8.5030
3         11          0.4315
4         12          0.1400
5         13          0.0948
6         14          0.3191
7         15          0.0371

### Join Tipo de cambio y Precios
Realizamos el Join de la tabla de precios con el tipo de cambio para luego realizar la conversión de la moneda a moneda local (Q)

In [84]:
df_Precio_Div=df_precios.merge(df_divisa_TDC,how='inner',on='Divisa_FK')

df_Precio_Div.head()

,Precio_ID,Producto_FK,Proveedor_FK,Fuente_FK,Medida_FK,Date_key,Divisa_FK,Precio,Tipo de cambio
0,1,128,399,3,1,42152,8,350.00,1.0
1,2,5,382,3,1,42375,8,9.10,1.0
2,3,5,384,3,1,42375,8,6.00,1.0
3,4,5,413,3,1,42375,8,3.80,1.0
4,5,5,391,3,1,42375,8,10.11,1.0

In [85]:
df_Precio_Div['Precio_Q']=df_Precio_Div['Precio']*df_Precio_Div['Tipo de cambio']
df_Precio_Div

,Precio_ID,Producto_FK,Proveedor_FK,Fuente_FK,Medida_FK,Date_key,Divisa_FK,Precio,Tipo de cambio,Precio_Q
0,1,128,399,3,1,42152,8,350.00,1.0000,350.000000
1,2,5,382,3,1,42375,8,9.10,1.0000,9.100000
2,3,5,384,3,1,42375,8,6.00,1.0000,6.000000
3,4,5,413,3,1,42375,8,3.80,1.0000,3.800000
4,5,5,391,3,1,42375,8,10.11,1.0000,10.110000
...,...,...,...,...,...,...,...,...,...,...
1934,1891,95,452,5,1,44995,14,168.58,0.3191,53.793878
1935,1892,95,452,5,1,44995,14,166.70,0.3191,53.193970
1936,1895,115,452,5,1,44995,14,492.92,0.3191,157.290772
1937,1932,90,453,5,1,44995,15,607.37,0.0371,22.533427
1938,1933,92,453,5,1,44995,15,607.37,0.0371,22.533427

### Limpiamos columnas sin uso.

In [87]:

df_precios=df_Precio_Div.drop(['Precio','Tipo de cambio','Divisa_FK'], axis=1)
df_precios

,Precio_ID,Producto_FK,Proveedor_FK,Fuente_FK,Medida_FK,Date_key,Precio_Q
0,1,128,399,3,1,42152,350.000000
1,2,5,382,3,1,42375,9.100000
2,3,5,384,3,1,42375,6.000000
3,4,5,413,3,1,42375,3.800000
4,5,5,391,3,1,42375,10.110000
...,...,...,...,...,...,...,...
1934,1891,95,452,5,1,44995,53.793878
1935,1892,95,452,5,1,44995,53.193970
1936,1895,115,452,5,1,44995,157.290772
1937,1932,90,453,5,1,44995,22.533427
1938,1933,92,453,5,1,44995,22.533427

### Cargando Bucket de S3: 'IPC'

In [92]:
file = s3.Bucket(S3_BUCKET_NAME).Object('ipc/IPC.csv').get()
data=io.BytesIO(file['Body'].read())
df_ipc=pd.read_csv(data,sep=';')
df_ipc.drop(df_ipc.iloc[:, 2:13],axis = 1,inplace=True)
df_ipc['Mes']=df_ipc['Mes'].str.lower()
df_ipc

      Año        Mes  Bienes y servicios diversos
0    2011      abril                       101.31
1    2011       mayo                       101.60
2    2011      junio                       101.73
3    2011      julio                       101.79
4    2011     agosto                       102.01
..    ...        ...                          ...
138  2022    octubre                       129.74
139  2022  noviembre                       130.02
140  2022  diciembre                       130.69
141  2023      enero                       131.06
142  2023    febrero                       131.51

[143 rows x 3 columns]

In [73]:
ipc_Now=df_ipc['Bienes y servicios diversos'].iloc[-1]
ipc_Now

131.51

### Lectura Dim Date

In [88]:
sql_query = 'select * from dim_date fp'
df_date = pd.read_sql(sql_query, postgres_driver)
df_date.head(5)

   Date_key       Fecha    Mes   Año  Mes_Año  Fecha +40d
0     42005  2015-01-01  enero  2015   1.2015  2015-02-10
1     42006  2015-01-02  enero  2015   1.2015  2015-02-11
2     42007  2015-01-03  enero  2015   1.2015  2015-02-12
3     42008  2015-01-04  enero  2015   1.2015  2015-02-13
4     42009  2015-01-05  enero  2015   1.2015  2015-02-14

### Join Precios con Dim Date

In [90]:
df_Precios_Date=df_precios.merge(df_date,how='inner', on='Date_key')
df_Precios_Date

,Precio_ID,Producto_FK,Proveedor_FK,Fuente_FK,Medida_FK,Date_key,Precio_Q,Fecha,Mes,Año,Mes_Año,Fecha +40d
0,1,128,399,3,1,42152,350.000000,2015-05-28,mayo,2015,5.2015,2015-07-07
1,2,5,382,3,1,42375,9.100000,2016-01-06,enero,2016,1.2016,2016-02-15
2,3,5,384,3,1,42375,6.000000,2016-01-06,enero,2016,1.2016,2016-02-15
3,4,5,413,3,1,42375,3.800000,2016-01-06,enero,2016,1.2016,2016-02-15
4,5,5,391,3,1,42375,10.110000,2016-01-06,enero,2016,1.2016,2016-02-15
...,...,...,...,...,...,...,...,...,...,...,...,...
1934,1891,95,452,5,1,44995,53.793878,2023-03-10,marzo,2023,3.2023,2023-04-19
1935,1892,95,452,5,1,44995,53.193970,2023-03-10,marzo,2023,3.2023,2023-04-19
1936,1895,115,452,5,1,44995,157.290772,2023-03-10,marzo,2023,3.2023,2023-04-19
1937,1932,90,453,5,1,44995,22.533427,2023-03-10,marzo,2023,3.2023,2023-04-19
1938,1933,92,453,5,1,44995,22.533427,2023-03-10,marzo,2023,3.2023,2023-04-19

In [91]:
df_Precios_Date.drop(['Date_key','Fecha','Mes_Año','Fecha +40d'],axis=1,inplace=True)
df_Precios_Date

,Precio_ID,Producto_FK,Proveedor_FK,Fuente_FK,Medida_FK,Precio_Q,Mes,Año
0,1,128,399,3,1,350.000000,mayo,2015
1,2,5,382,3,1,9.100000,enero,2016
2,3,5,384,3,1,6.000000,enero,2016
3,4,5,413,3,1,3.800000,enero,2016
4,5,5,391,3,1,10.110000,enero,2016
...,...,...,...,...,...,...,...,...
1934,1891,95,452,5,1,53.793878,marzo,2023
1935,1892,95,452,5,1,53.193970,marzo,2023
1936,1895,115,452,5,1,157.290772,marzo,2023
1937,1932,90,453,5,1,22.533427,marzo,2023
1938,1933,92,453,5,1,22.533427,marzo,2023

### Join IPC y Precios

In [94]:
df_Precios_IPC=df_Precios_Date.merge(df_ipc,how='inner',on=['Mes','Año'])
df_Precios_IPC

,Precio_ID,Producto_FK,Proveedor_FK,Fuente_FK,Medida_FK,Precio_Q,Mes,Año,Bienes y servicios diversos
0,1,128,399,3,1,350.00,mayo,2015,114.40
1,2,5,382,3,1,9.10,enero,2016,116.16
2,3,5,384,3,1,6.00,enero,2016,116.16
3,4,5,413,3,1,3.80,enero,2016,116.16
4,5,5,391,3,1,10.11,enero,2016,116.16
...,...,...,...,...,...,...,...,...,...
1870,1497,154,428,3,3,1370.00,noviembre,2022,130.02
1871,1498,135,394,3,1,5.40,noviembre,2022,130.02
1872,1499,154,428,3,3,1370.00,diciembre,2022,130.69
1873,1500,85,383,3,1,38.00,diciembre,2022,130.69
1874,1501,154,428,3,3,1370.00,enero,2023,131.06

### Operar indexación

In [98]:
df_Precios_IPC['Bienes y servicios diversos']

0       114.40
1       116.16
2       116.16
3       116.16
4       116.16
         ...
1870    130.02
1871    130.02
1872    130.69
1873    130.69
1874    131.06
Name: Bienes y servicios diversos, Length: 1875, dtype: float64

In [99]:
df_Precios_IPC['fIndex']=ipc_Now/df_Precios_IPC['Bienes y servicios diversos']
df_Precios_IPC

,Precio_ID,Producto_FK,Proveedor_FK,Fuente_FK,Medida_FK,Precio_Q,Mes,Año,Bienes y servicios diversos,fIndex
0,1,128,399,3,1,350.00,mayo,2015,114.40,1.149563
1,2,5,382,3,1,9.10,enero,2016,116.16,1.132145
2,3,5,384,3,1,6.00,enero,2016,116.16,1.132145
3,4,5,413,3,1,3.80,enero,2016,116.16,1.132145
4,5,5,391,3,1,10.11,enero,2016,116.16,1.132145
...,...,...,...,...,...,...,...,...,...,...
1870,1497,154,428,3,3,1370.00,noviembre,2022,130.02,1.011460
1871,1498,135,394,3,1,5.40,noviembre,2022,130.02,1.011460
1872,1499,154,428,3,3,1370.00,diciembre,2022,130.69,1.006274
1873,1500,85,383,3,1,38.00,diciembre,2022,130.69,1.006274
1874,1501,154,428,3,3,1370.00,enero,2023,131.06,1.003434

In [101]:
#######################################
sql_query = 'select * from "DIM_Date" dd'
df_Date = pd.read_sql(sql_query, postgres_driver)
df_Date.head()

   Date_key      Fecha    Mes   Año  Mes_Año Fecha +40d
0     42005 2015-01-01  enero  2015   1.2015 2015-02-10
1     42006 2015-01-02  enero  2015   1.2015 2015-02-11
2     42007 2015-01-03  enero  2015   1.2015 2015-02-12
3     42008 2015-01-04  enero  2015   1.2015 2015-02-13
4     42009 2015-01-05  enero  2015   1.2015 2015-02-14

In [102]:
sql_query = 'select * from "DIM_Divisas" dd'
df_Divisas = pd.read_sql(sql_query, postgres_driver)
df_Divisas.head()

   Divisa_FK                Divisa Abreviatura Símbolo           timestamp
0          8  Quetzal Guatemalteco         GTQ       Q 2023-04-05 17:44:03
1          9  Dólar Estadounidense         USD       $ 2023-04-05 17:44:03
2         10                  Euro         EUR       € 2023-04-05 17:44:03
3         11         Peso Mexicano         MXN       $ 2023-04-05 17:44:03
4         12         Peso Filipino         PHP       ₱ 2023-04-05 17:44:03

In [103]:
sql_query = 'select * from "DIM_Evento" de'
df_Evento = pd.read_sql(sql_query, postgres_driver)
df_Evento

,Evento_FK,NOG,Nombre,Enlace,Entidad,Adquisición_FK,Date_Key
0,1,18795668,CONTRATO ABIERTO NÚMERO 06-2022 ADQUISICIÓN DE...,Perla,2,1,44968
1,2,18558690,CONTRATO ABIERTO NÚMERO 04-2022 ADQUISICIÓN DE...,Perla,2,1,44966

In [104]:
sql_query = 'select * from "DIM_Fuente" df'
df_Fuente = pd.read_sql(sql_query, postgres_driver)
df_Fuente

   Fuente_FK      FuenteDatos           timestamp
0          1     Cotizaciones 2023-04-06 01:26:56
1          2       Ofertas CA 2023-04-06 01:26:56
2          3     Guatecompras 2023-04-06 01:26:56
3          4    PR anteriores 2023-04-06 01:26:56
4          5  Internacionales 2023-04-06 01:26:56
5          6              FEL 2023-04-06 01:26:56

In [105]:
sql_query = 'select * from "DIM_Medida" dm'
df_Medida = pd.read_sql(sql_query, postgres_driver)
df_Medida

   Medida_FK UnidadMedida      Tipo Dimensional           timestamp
0          1       UNIDAD  Unidades           u 2023-04-06 01:26:20
1          2    Kilogramo      Peso          kg 2023-04-06 01:26:20
2          3        Litro   Volumen           L 2023-04-06 01:26:20
3          4        gramo      Peso           g 2023-04-06 01:26:20
4          5    Mililitro   Volumen          ml 2023-04-06 01:26:20

In [107]:
sql_query = 'select * from "DIM_Proveedor" dp'
df_Proveedor = pd.read_sql(sql_query, postgres_driver)
df_Proveedor.head()

,Proveedor_FK,NIT,Nombre,Direccion,Teléfono,e-mail,Comentarios,Sector,timestamp
0,379,56711151,LaCorium Health USA Inc.,60 Warbler Junction,8754-3430,mjirieck0@ihg.com,None,Comercializadora,2023-04-07 01:43:52
1,380,30976393,"Navarro Discount Pharmacies,LLC",26 Wayridge Court,9579-4380,pvials1@istockphoto.com,None,Distribuidora,2023-04-07 01:43:52
2,381,56441208,Clinical Solutions Wholesale,83 Stephen Trail,3293-3088,cdinneen2@mapquest.com,None,Comercializadora,2023-04-07 01:43:52
3,382,27449569,H E B,205 Merrick Point,1934-0405,mkirkby3@army.mil,None,Distribuidora,2023-04-07 01:43:52
4,383,32574995,Direct RX,3939 Clarendon Avenue,3114-6303,dreadshaw4@berkeley.edu,None,Consumidor final,2023-04-07 01:43:52

In [192]:
sql_query = 'select * from "DIM_Entidad" de'
df_Entidad = pd.read_sql(sql_query, postgres_driver)
df_Entidad

,Entidad_FK,Nombre,Tipo,Sub_Tipo,Unidad_Compradora,timestamp
0,1,MINISTERIO DE SALUD PÚBLICA,Administración Central,None,None,2023-04-06 01:09:14
1,2,MINISTERIO DE FINANZAS PÚBLICAS,Administración Central,None,None,2023-04-06 01:09:14
2,3,INSTITUTO GUATEMALTECO DE SEGURIDAD SOCIAL -I,Administración Central,None,None,2023-04-06 01:09:14

In [162]:
sql_query = 'select * from "DIM_Rubro" dr'
df_Rubro = pd.read_sql(sql_query, postgres_driver)
df_Rubro.head()

   Fuente_FK      FuenteDatos           timestamp
0          1     Cotizaciones 2023-04-06 01:26:56
1          2       Ofertas CA 2023-04-06 01:26:56
2          3     Guatecompras 2023-04-06 01:26:56
3          4    PR anteriores 2023-04-06 01:26:56
4          5  Internacionales 2023-04-06 01:26:56

In [111]:
sql_query = 'select * from "FACT_Precio" fp'
df_FACT_Precio = pd.read_sql(sql_query, postgres_driver)
df_FACT_Precio.head()

,Precio_ID,Producto_FK,Proveedor_FK,Fuente_FK,Date_key,Divisa_FK,Precio,Marca,Pais,NOG,Responsable,Observaciones,timestamp
0,1,58,413,3,42627,8,9.15,None,None,None,None,None,2023-04-07 02:00:33
1,2,5,383,3,42632,8,13.75,None,None,None,None,None,2023-04-07 02:00:33
2,3,5,391,3,42632,8,8.13,None,None,None,None,None,2023-04-07 02:00:33
3,4,5,384,3,42632,8,7.00,None,None,None,None,None,2023-04-07 02:00:33
4,5,8,384,3,42634,8,10.00,None,None,None,None,None,2023-04-07 02:00:33

### Hacer joins

In [116]:
df_FACT_Precio_Proveedor = df_FACT_Precio.merge(df_Proveedor, on='Proveedor_FK',how='inner')

In [126]:
df_Catalogo_Evento = df_Catalogo.merge(df_Evento, on ='Evento_FK', how='inner')
df_Catalogo_Evento = df_Catalogo_Evento.drop('Evento_FK', axis = 1)
df_Catalogo_Evento.head(1)

,Catalogo_ID,Revision,Renglon,Producto_FK,Medida_FK,Cantidad,Rubro_FK,timestamp,PR,Date_key,Observaciones,NOG,Nombre,Enlace,Entidad,Adquisición_FK,Date_Key
0,1,1,1,154,3,7700,13,2023-04-06 12:47:32,None,None,None,18558690,CONTRATO ABIERTO NÚMERO 04-2022 ADQUISICIÓN DE...,Perla,2,1,44966

In [131]:
df_Catalogo_Evento_Producto = df_Catalogo_Evento.merge(df_Productos, on='Producto_FK',how='inner')
df_Catalogo_Evento_Producto = df_Catalogo_Evento_Producto.drop('Producto_FK',axis=1)
df_Catalogo_Evento_Producto.head(2)

,Catalogo_ID,Revision,Renglon,Medida_FK,Cantidad,Rubro_FK,timestamp_x,PR,Date_key,Observaciones,NOG,Nombre_x,Enlace,Entidad,Adquisición_FK,Date_Key,Cod_INE,Nombre_y,Especificaciones,timestamp_y
0,1,1,1,3,7700,13,2023-04-06 12:47:32,None,None,None,18558690,CONTRATO ABIERTO NÚMERO 04-2022 ADQUISICIÓN DE...,Perla,2,1,44966,264-001-000,PLAGUICIDA DELTAMETRINA 4.5 % ULV,PLAGUICIDA PARA CONTROL DE INSECTOS VOLADORES ...,2023-04-06 01:28:12
1,2,1,2,2,3850,13,2023-04-06 12:47:32,None,None,None,18558690,CONTRATO ABIERTO NÚMERO 04-2022 ADQUISICIÓN DE...,Perla,2,1,44966,264-002-000,PLAGUICIDA BIOLÓGICO BACILLUS SPHAERICUS,PLAGUICIDA BIOLÓGICO PARA CONTROL DE LARVAS AN...,2023-04-06 01:28:12

In [136]:
df_Catalogo_Evento_Producto_Medida = df_Catalogo_Evento_Producto.merge(df_Medida, on='Medida_FK', how='inner')
df_Catalogo_Evento_Producto_Medida = df_Catalogo_Evento_Producto_Medida.drop('Medida_FK', axis=1)
df_Catalogo_Evento_Producto_Medida.head(2)

,Catalogo_ID,Revision,Renglon,Cantidad,Rubro_FK,timestamp_x,PR,Date_key,Observaciones,NOG,...,Adquisición_FK,Date_Key,Cod_INE,Nombre_y,Especificaciones,timestamp_y,UnidadMedida,Tipo,Dimensional,timestamp
0,1,1,1,7700,13,2023-04-06 12:47:32,None,None,None,18558690,...,1,44966,264-001-000,PLAGUICIDA DELTAMETRINA 4.5 % ULV,PLAGUICIDA PARA CONTROL DE INSECTOS VOLADORES ...,2023-04-06 01:28:12,Litro,Volumen,L,2023-04-06 01:26:20
1,2,1,2,3850,13,2023-04-06 12:47:32,None,None,None,18558690,...,1,44966,264-002-000,PLAGUICIDA BIOLÓGICO BACILLUS SPHAERICUS,PLAGUICIDA BIOLÓGICO PARA CONTROL DE LARVAS AN...,2023-04-06 01:28:12,Kilogramo,Peso,kg,2023-04-06 01:26:20

### Renombrando columna Adquisicion

In [150]:
df_Catalogo_Evento_Producto_Medida = df_Catalogo_Evento_Producto_Medida.rename(columns={'Adquisición_FK':'Adquisicion_FK'})
df_Catalogo_Evento_Producto_Medida.head(2)

,Catalogo_ID,Revision,Renglon,Cantidad,Rubro_FK,timestamp_x,PR,Date_key,Observaciones,NOG,...,Adquisicion_FK,Date_Key,Cod_INE,Nombre_y,Especificaciones,timestamp_y,UnidadMedida,Tipo,Dimensional,timestamp
0,1,1,1,7700,13,2023-04-06 12:47:32,None,None,None,18558690,...,1,44966,264-001-000,PLAGUICIDA DELTAMETRINA 4.5 % ULV,PLAGUICIDA PARA CONTROL DE INSECTOS VOLADORES ...,2023-04-06 01:28:12,Litro,Volumen,L,2023-04-06 01:26:20
1,2,1,2,3850,13,2023-04-06 12:47:32,None,None,None,18558690,...,1,44966,264-002-000,PLAGUICIDA BIOLÓGICO BACILLUS SPHAERICUS,PLAGUICIDA BIOLÓGICO PARA CONTROL DE LARVAS AN...,2023-04-06 01:28:12,Kilogramo,Peso,kg,2023-04-06 01:26:20

In [161]:
df_Catalogo_Evento_Producto_Medida_Ad = df_Catalogo_Evento_Producto_Medida.merge(df_Adquisicion, on='Adquisicion_FK', how='inner')
df_Catalogo_Evento_Producto_Medida_Ad.head(2)

C:\Users\Marlon Daniel\AppData\Local\Temp\ipykernel_5460\2794142737.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'timestamp_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_Catalogo_Evento_Producto_Medida_Ad = df_Catalogo_Evento_Producto_Medida.merge(df_Adquisicion, on='Adquisicion_FK', how='inner')

,Catalogo_ID,Revision,Renglon,Cantidad,Rubro_FK,timestamp_x,PR,Date_key,Observaciones,NOG,...,Cod_INE,Nombre_y,Especificaciones,timestamp_y,UnidadMedida,Tipo,Dimensional,timestamp_x,Tipo_Adquisicion,timestamp_y
0,1,1,1,7700,13,2023-04-06 12:47:32,None,None,None,18558690,...,264-001-000,PLAGUICIDA DELTAMETRINA 4.5 % ULV,PLAGUICIDA PARA CONTROL DE INSECTOS VOLADORES ...,2023-04-06 01:28:12,Litro,Volumen,L,2023-04-06 01:26:20,Contrato Abierto,2023-04-05 17:21:41
1,2,1,2,3850,13,2023-04-06 12:47:32,None,None,None,18558690,...,264-002-000,PLAGUICIDA BIOLÓGICO BACILLUS SPHAERICUS,PLAGUICIDA BIOLÓGICO PARA CONTROL DE LARVAS AN...,2023-04-06 01:28:12,Kilogramo,Peso,kg,2023-04-06 01:26:20,Contrato Abierto,2023-04-05 17:21:41

## Limpiando columnas

In [172]:
df_Catalogo_Evento_Producto_Medida_Ad = df_Catalogo_Evento_Producto_Medida_Ad.drop(['timestamp_y','timestamp_y','Observaciones'],axis=1)

In [175]:
df_Catalogo_Evento_Producto_Medida_Ad.head(3)

,Catalogo_ID,Revision,Renglon,Cantidad,NOG,Nombre_x,Enlace,Entidad,Adquisicion_FK,Date_Key,Cod_INE,Nombre_y,Especificaciones,UnidadMedida,Tipo,Dimensional,Tipo_Adquisicion
0,1,1,1,7700,18558690,CONTRATO ABIERTO NÚMERO 04-2022 ADQUISICIÓN DE...,Perla,2,1,44966,264-001-000,PLAGUICIDA DELTAMETRINA 4.5 % ULV,PLAGUICIDA PARA CONTROL DE INSECTOS VOLADORES ...,Litro,Volumen,L,Contrato Abierto
1,2,1,2,3850,18558690,CONTRATO ABIERTO NÚMERO 04-2022 ADQUISICIÓN DE...,Perla,2,1,44966,264-002-000,PLAGUICIDA BIOLÓGICO BACILLUS SPHAERICUS,PLAGUICIDA BIOLÓGICO PARA CONTROL DE LARVAS AN...,Kilogramo,Peso,kg,Contrato Abierto
2,5,1,5,4554,18558690,CONTRATO ABIERTO NÚMERO 04-2022 ADQUISICIÓN DE...,Perla,2,1,44966,264-005-000,PLAGUICIDA BACILLUS THURINGIENSIS VAR. ISRAELE...,PLAGUICIDA BIOLÓGICO PARA EL CONTROL DE LARVAS...,Kilogramo,Peso,kg,Contrato Abierto

In [186]:
df_Catalogo_Evento_Producto_Medida_Ad = df_Catalogo_Evento_Producto_Medida_Ad.rename(columns={'Date_Key':'Date_key'})
df_Catalogo_Evento_Producto_Medida_Ad = df_Catalogo_Evento_Producto_Medida_Ad.drop('Date_key', axis=1)

In [188]:
df_Catalogo_Evento_Producto_Medida_Ad = df_Catalogo_Evento_Producto_Medida_Ad.drop('Adquisicion_FK', axis=1)

In [194]:
df_Catalogo_Evento_Producto_Medida_Ad.head(2)

,Catalogo_ID,Revision,Renglon,Cantidad,NOG,Nombre_x,Enlace,Entidad,Cod_INE,Nombre_y,Especificaciones,UnidadMedida,Tipo,Dimensional,Tipo_Adquisicion
0,1,1,1,7700,18558690,CONTRATO ABIERTO NÚMERO 04-2022 ADQUISICIÓN DE...,Perla,2,264-001-000,PLAGUICIDA DELTAMETRINA 4.5 % ULV,PLAGUICIDA PARA CONTROL DE INSECTOS VOLADORES ...,Litro,Volumen,L,Contrato Abierto
1,2,1,2,3850,18558690,CONTRATO ABIERTO NÚMERO 04-2022 ADQUISICIÓN DE...,Perla,2,264-002-000,PLAGUICIDA BIOLÓGICO BACILLUS SPHAERICUS,PLAGUICIDA BIOLÓGICO PARA CONTROL DE LARVAS AN...,Kilogramo,Peso,kg,Contrato Abierto

### Renombrando columna entidad

In [195]:
df_Catalogo_Evento_Producto_Medida_Ad = df_Catalogo_Evento_Producto_Medida_Ad.rename(columns={'Entidad':'Entidad_FK'})

In [196]:
df_Catalogo_Evento_Producto_Medida_Ad.head(1)

,Catalogo_ID,Revision,Renglon,Cantidad,NOG,Nombre_x,Enlace,Entidad_FK,Cod_INE,Nombre_y,Especificaciones,UnidadMedida,Tipo,Dimensional,Tipo_Adquisicion
0,1,1,1,7700,18558690,CONTRATO ABIERTO NÚMERO 04-2022 ADQUISICIÓN DE...,Perla,2,264-001-000,PLAGUICIDA DELTAMETRINA 4.5 % ULV,PLAGUICIDA PARA CONTROL DE INSECTOS VOLADORES ...,Litro,Volumen,L,Contrato Abierto

In [200]:
df_Catalogo_Evento_Producto_Medida_Ad_Ent = df_Catalogo_Evento_Producto_Medida_Ad.merge(df_Entidad, on='Entidad_FK', how='inner')
df_Catalogo_Evento_Producto_Medida_Ad_Ent.head(2)

,Catalogo_ID,Revision,Renglon,Cantidad,NOG,Nombre_x,Enlace,Entidad_FK,Cod_INE,Nombre_y,Especificaciones,UnidadMedida,Tipo_x,Dimensional,Tipo_Adquisicion,Nombre,Tipo_y,Sub_Tipo,Unidad_Compradora,timestamp
0,1,1,1,7700,18558690,CONTRATO ABIERTO NÚMERO 04-2022 ADQUISICIÓN DE...,Perla,2,264-001-000,PLAGUICIDA DELTAMETRINA 4.5 % ULV,PLAGUICIDA PARA CONTROL DE INSECTOS VOLADORES ...,Litro,Volumen,L,Contrato Abierto,MINISTERIO DE FINANZAS PÚBLICAS,Administración Central,None,None,2023-04-06 01:09:14
1,2,1,2,3850,18558690,CONTRATO ABIERTO NÚMERO 04-2022 ADQUISICIÓN DE...,Perla,2,264-002-000,PLAGUICIDA BIOLÓGICO BACILLUS SPHAERICUS,PLAGUICIDA BIOLÓGICO PARA CONTROL DE LARVAS AN...,Kilogramo,Peso,kg,Contrato Abierto,MINISTERIO DE FINANZAS PÚBLICAS,Administración Central,None,None,2023-04-06 01:09:14

### Declarando catàlogo final

In [208]:
Catalogo_final = df_Catalogo_Evento_Producto_Medida_Ad_Ent 
Catalogo_final.head(5)

,Catalogo_ID,Revision,Renglon,Cantidad,NOG,Nombre_x,Enlace,Cod_INE,Nombre_y,Especificaciones,UnidadMedida,Tipo_x,Dimensional,Tipo_Adquisicion,Nombre,Tipo_y,Sub_Tipo,Unidad_Compradora
0,1,1,1,7700,18558690,CONTRATO ABIERTO NÚMERO 04-2022 ADQUISICIÓN DE...,Perla,264-001-000,PLAGUICIDA DELTAMETRINA 4.5 % ULV,PLAGUICIDA PARA CONTROL DE INSECTOS VOLADORES ...,Litro,Volumen,L,Contrato Abierto,MINISTERIO DE FINANZAS PÚBLICAS,Administración Central,None,None
1,2,1,2,3850,18558690,CONTRATO ABIERTO NÚMERO 04-2022 ADQUISICIÓN DE...,Perla,264-002-000,PLAGUICIDA BIOLÓGICO BACILLUS SPHAERICUS,PLAGUICIDA BIOLÓGICO PARA CONTROL DE LARVAS AN...,Kilogramo,Peso,kg,Contrato Abierto,MINISTERIO DE FINANZAS PÚBLICAS,Administración Central,None,None
2,5,1,5,4554,18558690,CONTRATO ABIERTO NÚMERO 04-2022 ADQUISICIÓN DE...,Perla,264-005-000,PLAGUICIDA BACILLUS THURINGIENSIS VAR. ISRAELE...,PLAGUICIDA BIOLÓGICO PARA EL CONTROL DE LARVAS...,Kilogramo,Peso,kg,Contrato Abierto,MINISTERIO DE FINANZAS PÚBLICAS,Administración Central,None,None
3,3,1,3,3300,18558690,CONTRATO ABIERTO NÚMERO 04-2022 ADQUISICIÓN DE...,Perla,264-003-000,PABELLÓN IMPREGNADO CON ALFACIPERMETRINA,PABELLÓN IMPREGNADO (MOSQUITEROS) MALLA DE POL...,UNIDAD,Unidades,u,Contrato Abierto,MINISTERIO DE FINANZAS PÚBLICAS,Administración Central,None,None
4,4,1,4,367126,18558690,CONTRATO ABIERTO NÚMERO 04-2022 ADQUISICIÓN DE...,Perla,264-004-000,LARVICIDA TEMEFOS (TEMEPHOS),PLAGUICIDA PARA EL CONTROL DE LARVAS DE MOSQUI...,UNIDAD,Unidades,u,Contrato Abierto,MINISTERIO DE FINANZAS PÚBLICAS,Administración Central,None,None

### Construyendo Catalogo de precios